@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100;200;300;400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* CSS RESET */

*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
	all: unset;
	display: revert;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

table {
	border-collapse: collapse;
}

textarea {
	white-space: revert;
}

ul,
ol {
	list-style-type: none;
}

a,
button {
	cursor: pointer;
}

:root {
	/* COLORS */

	--color-white: #fff;
	--color-gray-50: #f9fafb;
	--color-gray-100: #f3f4f6;
	--color-gray-200: #e5e7eb;
	--color-gray-300: #d1d5db;
	--color-gray-400: #9ca3af;
	--color-gray-500: #6b7280;
	--color-gray-600: #4b5563;
	--color-gray-700: #374151;
	--color-gray-800: #1f2937;
	--color-gray-900: #111827;

	--color-blue-50: #eff6ff;
	--color-blue-100: #dbeafe;
	--color-blue-200: #bfdbfe;
	--color-blue-300: #93c5fd;
	--color-blue-400: #60a5fa;
	--color-blue-500: #3b82f6;
	--color-blue-600: #2563eb;
	--color-blue-700: #1d4ed8;
	--color-blue-800: #1e40af;
	--color-blue-900: #1e3a8a;

	/* FONTS SIZES*/

	--font-size-4xl: 6rem;
	--font-size-3xl: 4rem;
	--font-size-2xl: 2.5rem;
	--font-size-xl: 1.875rem;
	--font-size-lg: 1.5rem;
	--font-size-md: 1.25rem;
	--font-size-base: 1rem;
	--font-size-sm: 0.85rem;

	/* MARGINS */

	--margin-sm: 0.4rem;
	--margin-md: 0.6rem;
	--margin-lg: 0.8rem;
	--margin-xl: 1rem;
	--margin-2xl: 1.6rem;
	--margin-3xl: 2.4rem;

	/* FONT FAMILYS */

	--font-family-sans-serif: 'Inter', sans-serif;
	--font-family-serif: 'Merriweather', serif;
	--font-family-monospace: 'Azeret Mono', monospace;

	/* BORDER RADIUS */

	--border-radius-sm: 0.25rem;
	--border-radius-md: 0.5rem;
	--border-radius-lg: 2rem;
}

body {
	font-family: var(--font-family-serif);
	font-size: var(--font-size-base);
	color: var(--color-gray-700);
}

::selection {
	background-color: var(--color-blue-400);
	color: var(--color-blue-50);
}
