@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100;200;300;400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* CSS RESET */

*:where(:not(iframe, canvas, img, svg, video, ol, ul):not(svg *)) {
	all: unset;
	display: revert;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

table {
	border-collapse: collapse;
}

textarea {
	white-space: revert;
}

a,
button {
	cursor: pointer;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

:root {
	/* COLORS */

	--color-white: #fff;
	--color-gray-50: #f9fafb;
	--color-gray-100: #f3f4f6;
	--color-gray-200: #e5e7eb;
	--color-gray-300: #d1d5db;
	--color-gray-400: #9ca3af;
	--color-gray-500: #6b7280;
	--color-gray-600: #4b5563;
	--color-gray-700: #374151;
	--color-gray-800: #1f2937;
	--color-gray-900: #111827;

	--color-blue-50: #eff6ff;
	--color-blue-100: #dbeafe;
	--color-blue-200: #bfdbfe;
	--color-blue-300: #93c5fd;
	--color-blue-400: #60a5fa;
	--color-blue-500: #3b82f6;
	--color-blue-600: #2563eb;
	--color-blue-700: #1d4ed8;
	--color-blue-800: #1e40af;
	--color-blue-900: #1e3a8a;

	/* FONTS SIZES*/

	--font-4xl: 6rem;
	--font-3xl: 4rem;
	--font-2xl: 2.5rem;
	--font-xl: 1.875rem;
	--font-lg: 1.5rem;
	--font-md: 1.25rem;
	--font-base: 1rem;
	--font-sm: 0.85rem;

	/* MARGINS */

	--space-vsm: 0.25rem;
	--space-sm: 0.325rem;
	--space-md: 0.5rem;
	--space-lg: 0.825rem;
	--space-xl: 1.25rem;
	--space-2xl: 1.75rem;
	--space-3xl: 2.5rem;

	/* FONT FAMILYS */

	--font-sans-serif: 'Inter', sans-serif;
	--font-serif: 'Merriweather', serif;
	--font-monospace: 'Azeret Mono', monospace;

	/* BORDER RADIUS */

	--rounded-sm: 0.25rem;
	--rounded-md: 0.5rem;
	--rounded-lg: 1rem;
	--rounded-full: 9999px;

	/* SHADOWS */

	--shadow-sm: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	--shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	--shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
	--shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
		0 10px 10px -5px rgba(0, 0, 0, 0.04);
	--shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

body {
	font-family: var(--font-serif);
	font-size: var(--font-base);
	color: var(--color-gray-700);
}

::selection {
	background-color: var(--color-blue-400);
	color: var(--color-blue-50);
}
